
<html>
<head>

<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title></title>
<link rel="stylesheet" href="stylesheets/jquery.mobile-1.4.5.min.css"/>
<script src="javascript/jquery-2.1.4.min.js" ></script>
<script src="javascript/jquery.mobile-1.4.5.min.js" ></script>
<script src='javascript/fn.js'></script>
</head>
<body>

  <div id="login" data-role="page">
    <div data-position="fixed" data-role="header" data-theme="b">
      <h3>GoFood | Unicah</h3>
    </div>
    <div role="main" class="ui-content">
      <div class="ui-field-contain">
        <label for="fav">Lista de favoritos</label>
        <ul data-role="listview" data-autodividers="true" data-filter="true" data-inset="true">
          <li>
            <a href="/p2">A que quedas FULL</a>
          </li>
          <li>
            <a href="/p2">El rincon catracho</a>
          </li>
          <li>
            <a href="/p2">El viejito</a>
          </li>
          <li>
            <a href="/p2">Las campanas</a>
          </li>
          <li>
            <a href="/p2">Tuany's</a>
          </li>

        </ul>
      </div>
    </div>
    <div data-position="fixed" data-role="footer" data-theme="b">
      <div is="navbar" data-role="navbar">
        <ul>
          <li is="navbtn">
            <a  data-icon="home" id="btnHome" href="/ho"></a>
          </li>
          <li is="navbtn">
            <a data-icon="search" name="btnHome" id="search" href="/mapaL"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>



</body>
</html>
