
<html>
<head>

<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title></title>
<link rel="stylesheet" href="stylesheets/style.css"/>
<link rel="stylesheet" href="stylesheets/jquery.mobile-1.4.5.min.css"/>
<script src="javascript/jquery-2.1.4.min.js" ></script>
<script src="javascript/jquery.mobile-1.4.5.min.js" ></script>
<script src='javascript/fn.js'></script>
</head>
<body>

  <div style="background-image: url(http://celsiussnow.com/wp-content/uploads/2013/08/Light-Wood-Background1-1024x640.jpg)" data-theme="a" id="home" data-role="page">
    <div data-role="header" data-position="fixed" data-theme="b">
      <h3>GoFood | Unicah </h3>
      <a data-icon="user" href="/pUsuario">|</a>
    </div>

    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">Jueves, Julio 30, 2015</li>
        <li><a href="/p2">
        <h2>Tuany's</h2>
        <p><strong>Descuento de combo furioso</strong></p>
        <p>Aprovecha esta promocion unica esta semana, solamente aqui en tuany's</p>
            <p class="ui-li-aside"><strong>12:00</strong>PM</p>
        </a></li>
        <li><a href="/p1">
        <h2>A que quedas Full</h2>
        <p><strong>Promocion del combo 13 phillips</strong></p>
        <p>Disfruta de nuestro mounstroso pepito de carne asada ,salsas y mas solo aqui "A que tq quedas full"</p>
            <p class="ui-li-aside"><strong>2:00</strong>PM</p>
        </a></li>
        <li><a href="/p3">
        <h2>Comidas Express</h2>
        <p><strong>Alitas de Pollo</strong></p>
        <p>Prueba nuestras clasicas alitas de pollo a un precio que te va a encantar</p>
            <p class="ui-li-aside"><strong>3:00</strong>PM</p>
        </a></li>
    </ul>

    <div data-position="fixed" data-role="footer">
      <div data-role="navbar">
        <ul>
          <li>
            <a data-icon="heart" data-theme="b" name="btnFav" id="btnFav" href="/fav"></a>
          </li>
          <li>
            <a data-icon="home" data-theme="b" name="btnHome" id="btnHome" href="/ho"></a>
          </li>
          <li>
            <a data-icon="search" data-theme="b" href="/mapaL"></a>
          </li>
        </ul>
      </div>
    </div>


</div>
  <script src="javascript/index.js"></script>
</body>
</html>
