
<!DOCTYPE html>
<html>
  <head>
  <script language="javascript">
    function vinculo(){
        window.location = "/mob";
    }
    function vinculoHome(){
        window.location = "/ho";
    }
  </script>


    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title></title>
    <link rel="stylesheet" href="stylesheets/jquery.mobile-1.4.5.min.css"/>
    <script src="javascript/jquery-2.1.4.min.js" ></script>
    <script src="javascript/jquery.mobile-1.4.5.min.js" ></script>
  </head>
  <body>
      <div style="background-image: url(http://celsiussnow.com/wp-content/uploads/2013/08/Light-Wood-Background1-1024x640.jpg)" data-role="page" id="pag1" >
        <div data-role="header" data-position="fixed" data-theme="b">
          <h3>GoFood | Unicah </h3>
        </div>
        <div role="main" class="ui-content">
          <img style="width:100%;" src="img/GoFoodLogo.png" is="image">
            <ul data-role="listview" id="usuariosList">
        </div>
        <div role="main" class="ui-content">
        <label style="color: white; text-shadow: -0.24em 0.25em 0.5em #000;">Usuario</label>
        <input name ="txtuser" id="txtuser" type="text">
        <label style="color: white; text-shadow: -0.24em 0.25em 0.5em #000;">Contraseña</label>
        <input name ="txtcontrasena" id="txtcontrasena" type="password">


      <input type="button" value="Entrar" class="boton" name="btnEntrar" id="btnEntrar" onclick="vinculoHome()">
      <input type="button" value="Registrarse" class="boton" name="btnRegistrarse" id="btnRegistrarse" onclick="vinculo()">
  </div>

        <div data-role="footer" data-position="fixed" data-theme="b">
            <h4>Copyright 2015</h4>
        </div>
      </div>
      <script src="javascript/index.js"></script>
  </body>
</html>
