<html>
<head>

<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title></title>
<link rel="stylesheet" href="stylesheets/jquery.mobile-1.4.5.min.css"/>
<script src="javascript/jquery-2.1.4.min.js" ></script>
<script src="javascript/jquery.mobile-1.4.5.min.js" ></script>
<script src='javascript/fn.js'></script>
</head>
<body>


  <div data-theme="a" id="home" data-role="page">
    <div data-role="header" data-position="fixed" data-theme="b">
      <h3>GoFood | Unicah </h3>
      <h3> Mapa del local </h3>

</div>
<div data-position="fixed">
  <h3>Local Cafeteria Vieja</h3>
  <img style="width:75%;" src="img/CafeVieja.png" />
</div>
<div>
  <h3>Local Cafeteria Nueva Primer Nivel</h3>
  <img style="width:75%;" src="img/cafenueva1.png" />
</div>
<div>
  <h3>Local Cafeteria Nueva Segundo Nivel</h3>
  <img style="width:75%;" src="img/cafenueva2.png" />
</div>
  <div data-position="fixed" data-role="footer" data-theme="b">
    <div data-role="navbar">
      <ul>
        <li>
          <a data-icon="home" href="/ho"></a>
        </li>
      </ul>
    </div>
  </div>
  <script src="javascript/index.js"></script>

</body>
</html>
