<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title></title>
    <link rel="stylesheet" href="stylesheets/jquery.mobile-1.4.5.min.css"/>
    <script src="javascript/jquery-2.1.4.min.js" ></script>
    <script src="javascript/jquery.mobile-1.4.5.min.js" ></script>
  </head>
  <body>
    <div id="home" data-role="page">
    <div data-role="header" data-position="fixed" data-theme="b">
      <h3>goFood | Unicah</h3>
    </div>
    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider"> Comidas Express </li>
    </ul>
    <div role="main" class="ui-content">
  <img style="width:75%;" src="http://www.grannys.ca/img/recipe/13-600x400.jpg" is="image">
</div>
<div class="ec-stars-wrapper">
	<a href="#" data-value="1" title="Votar con 1 estrellas">&#9734;</a>
	<a href="#" data-value="2" title="Votar con 2 estrellas">&#9734;</a>
	<a href="#" data-value="3" title="Votar con 3 estrellas">&#9734;</a>
	<a href="#" data-value="4" title="Votar con 4 estrellas">&#9734;</a>
	<a href="#" data-value="5" title="Votar con 5 estrellas">&#9734;</a>
  <a>Calificanos</a>
</div>
<noscript>Necesitas tener habilitado javascript para poder votar</noscript>

<h1 is="gk-text">Alitas de Pollo</h1>
    <p>prueba nnuestras deliciosa alitas de pollo a un precio accesible</p>
    <h3>Precio:</h3><p>Lps.65.00</p>

            <div data-position="fixed" data-role="footer">
              <div data-role="navbar">
                <ul>
                  <li>
                    <a data-icon="heart" data-theme="b" name="btnFav" id="btnFav" href="/fav"></a>
                  </li>
                  <li>
                    <a data-icon="home" data-theme="b" name="btnHome" id="btnHome" href="/ho"></a>
                  </li>
                  <li>
                    <a data-icon="search" data-theme="b"></a>
                  </li>
                </ul>
              </div>
            </div>




      <script src="javascript/index.js"></script>
  </body>
</html>
