<div id="login" data-role="page" data-theme="a">
  <div data-role="header" data-position="fixed" data-theme="b">
    <h3>GoFood | Unicah</h3>
    <a data-icon="gear"></a>
  </div>
  <div role="main" class="ui-content">
    <img style="width:100%;" src="../img/gofoodunicah.jpg" is="image">
    <div class="ui-field-contain">
      <label for="registroCorreo">Correo electr칩nico :</label>
      <input type="text"  id="registroCorreo">
    </div>
    <div class="ui-field-contain">
      <label for="registroNombre">Nombre de usuario :</label>
      <input type="text"  id="registroNombre">
    </div>
    <div class="ui-field-contain">
      <label for="registroContrasenia">Contrase침a :</label>
      <input type="text" id="registroContrasenia">
    </div>
    <div class="ui-field-contain">
      <label for="registroConfirmContra">Confirmaci칩n de contrase침a :</label>
      <input type="text" id="registroConfirmContra">
    </div>
    <a class="ui-btn ui-btn-b" id="btnRegistrase">Registrarse</a>
  </div>
  <div data-role="footer" data-position="fixed" data-theme="b"></div>
</div>
