<html>
<head>



<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title></title>
<link rel="stylesheet" href="stylesheets/jquery.mobile-1.4.5.min.css"/>
<script src="javascript/jquery-2.1.4.min.js" ></script>
<script src="javascript/jquery.mobile-1.4.5.min.js" ></script>
<script src='javascript/fn.js'></script>
<script type="text/javascript"
        src="http://www.google.com/jsapi">
</script>
<script type="text/javascript">
  google.load("jquery", "1.7.2");
  google.load(etc..);
</script>

</head>
<body>



  <script src="javascript/index.js"></script>

</body>
</html>
