<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title></title>
    <link rel="stylesheet" href="stylesheets/jquery.mobile-1.4.5.min.css"/>
    <script src="javascript/jquery-2.1.4.min.js" ></script>
    <script src="javascript/jquery.mobile-1.4.5.min.js" ></script>
  </head>
  <body>
       <div data-role="page" id="pagina2.hbs">
        <div data-role="header" data-position="fixed">
            <h4>Datos Vengan </h4>
        </div>

     <label for="text-1">Nombre:</label>
     <input name="txtNombre" id="txtNombre" value="" type="text">

     <label for="text-2">Titulo:</label>
     <input name="txtTitulo" id="txtTitulo" value="" type="text">


        <div data-role="footer" data-position="fixed">
            <h4>Copyright 2015</h4>
        </div>
      </div>
      <script src="javascript/index.js"></script>
  </body>
</html>
